name: CI

on: [push, pull_request]

jobs:
  build-test-wasm32:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-08-04
          target: wasm32-unknown-unknown
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p platinum-margin-tool-client --target wasm32-unknown-unknown
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p platinum-margin-tool-client

  build-bpf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-08-04
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          working-directory: ./program-so
      - run: |
          sh -c "$(curl -sSfL https://release.solana.com/v1.7.14/install)"
          export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH"
          solana --version
          cargo build-bpf
          # cargo +bpf build -Z unstable-options --target bpfel-unknown-unknown --profile bpf-release
        working-directory: ./program-so

  test-program:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-08-04
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
        with:
          working-directory: ./program
      - run: |
          cargo test --features onchain
        working-directory: ./program

  anchor-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: Swatinem/rust-cache@v1
      - run: |
          sh -c "$(curl -sSfL https://release.solana.com/v1.7.14/install)"
          export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH"
          solana --version
          solana-keygen new -o ~/.config/solana/id.json --no-bip39-passphrase
          sudo apt-get install -y pkg-config build-essential libudev-dev
          cargo install --git https://github.com/project-serum/anchor --tag v0.17.0 anchor-cli --locked
          npm install -g mocha @project-serum/anchor@0.17.0
          which mocha
          anchor test
        working-directory: ./anchor-workspace
